[user]
   email = michael@schoenitzer.de
   name = Michael F. Schönitzer
   signingkey = 20F0829726204474BF913769D3F2CBA7A7AE3DA4
[core]
   excludesfile = /home/michi/.gitignore
[color]
   ui = auto
[init]
   templatedir = ~/.git_template
[transfer]
   fsckobjects = true
[fetch]
   fsckobjects = false
[push]
   default = simple
   followTags = true
[merge]
   conflictstyle = diff3
   tool = meld
[alias]
   ucommit = reset HEAD~
   undo = reset --hard HEAD
   stash-all = stash save --include-untracked
   glog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
   sync = "!ssh-add -l > /dev/null || ssh-add; git pull && git push"
   hide = update-index --assume-unchanged
   unhide = update-index --no-assume-unchanged
   a = add
   ap = add -p
   c = commit --verbose
   ca = commit -a --verbose
   cm = commit -m
   cam = commit -a -m
   m = commit --amend --verbose
   d = diff
   ds = diff --stat
   dc = diff --staged
   # list branches sorted by last modified
   b = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"
   # list aliases
   la = "!git config -l | grep alias | cut -c 7-"
   # list recently used branches
   lb = !git reflog show --pretty=format:'%gs ~ %gd' --date=relative | grep 'checkout:' | grep -oE '[^ ]+ ~ .*' | awk -F~ '!seen[$1]++' | head -n 10 | awk -F' ~ HEAD@{' '{printf(\"  \\033[33m%s: \\033[37m %s\\033[0m\\n\", substr($2, 1, length($2)-1), $1)}'
[giggle]
   main-window-maximized = false
   main-window-geometry = 950x697+0+256
   file-view-vpane-position = 450
   history-view-vpane-position = 205
   main-window-view = HistoryView
; Add all setting that won't work on other environments in the following local file
[include]
   path = ~/.gitconfig.local
