[user]
   email = michael@schoenitzer.de
   name = Michael F. Schönitzer
   signingkey = 20F0829726204474BF913769D3F2CBA7A7AE3DA4
[core]
   excludesfile = /home/michi/.gitignore
[color]
   ui = auto
[init]
   templatedir = ~/.git_template
   defaultBranch = main
[transfer]
   fsckobjects = true
[fetch]
   fsckobjects = false
[push]
   default = upstream
   followTags = true
[merge]
   conflictstyle = diff3
   tool = meld
[commit]
   verbose = true
[mergetool]
   keepBackup = false
[alias]
   idff = diff
   ucommit = reset HEAD~
   undo = reset --hard HEAD
   stash-all = stash save --include-untracked
   glog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
   alog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --branches --tags --remotes
   aalog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --all
   sync = "!ssh-add -l > /dev/null || ssh-add; git pull && git push"
   hide = update-index --assume-unchanged
   unhide = update-index --no-assume-unchanged
   introduced = log --source --all -S
   fpush = push --force-with-lease
   a = add
   ap = add -p
   c = commit --verbose
   ca = commit -a --verbose
   cm = commit -m
   cam = commit -a -m
   m = commit --amend --verbose
   d = diff
   ds = diff --stat
   dc = diff --staged
   ri = rebase -i
   cdiff = !git --no-pager diff
   wdiff = diff --word-diff
   sdiff = diff --staged
   delta = -c core.pager=delta diff 
   with-delta = !git -c core.pager=delta
   tdiff = -c core.pager=delta -c delta.side-by-side=true diff 
   dshow = -c core.pager=delta show
   tshow = -c core.pager=delta -c delta.side-by-side=true show
   # list branches sorted by last modified
   b = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"
   # list aliases
   la = "!git config -l | grep alias | cut -c 7-"
   # list recently used branches
   lb = !git reflog show --pretty=format:'%gs ~ %gd' --date=relative | grep 'checkout:' | grep -oE '[^ ]+ ~ .*' | awk -F~ '!seen[$1]++' | head -n 10 | awk -F' ~ HEAD@{' '{printf(\"  \\033[33m%s: \\033[37m %s\\033[0m\\n\", substr($2, 1, length($2)-1), $1)}'
   tbranch = for-each-ref --sort='authordate:iso8601' --format=' %(color:green)%(authordate:relative)%09%(color:white)%(refname:short)' refs/heads
   fixup = "!f() { TARGET=$(git rev-parse "$1"); git commit --fixup=$TARGET ${@:2} && EDITOR=true git rebase -i --autostash --autosquash $TARGET^; }; f"
[giggle]
   main-window-maximized = false
   main-window-geometry = 950x697+0+256
   file-view-vpane-position = 450
   history-view-vpane-position = 205
   main-window-view = HistoryView
; Add all setting that won't work on other environments in the following local file
[rebase]
   autosquash = true
   autoStash = true
[delta]
   features = decorations
[delta "decorations"]
   commit-decoration-style = blue ul
   commit-style = raw
   file-style = omit
   hunk-header-decoration-style = blue box
   hunk-header-file-style = red
   hunk-header-line-number-style = "#067a00"
   hunk-header-style = file line-number syntax
   line-numbers = true
[interactive]
   diffFilter = delta --color-only --features=interactive
[delta "interactive"]
[gpg]
   program = /usr/bin/gpg2
[pull]
   ff = only
[help]
   autocorrect = 1
[cola]
   spellcheck = false
[diff "dyff"]
   command = "dyff_between() { dyff --color on between --omit-header \"$2\" \"$5\"; }; dyff_between"
[include]
   path = ~/.gitconfig.local
