set backup
set autoindent
#set const
unset casesensitive
#set mouse nette Idee, aber ist nicht so das wahre
set smooth
set historylog
set speller hunspell
set quickblank
set nowrap
include "~/.nano/cfg.nanorc"
include "~/.nano/c.nanorc"
include "~/.nano/css.nanorc"
include "~/.nano/default.nanorc"
include "~/.nano/html.nanorc"
include "~/.nano/java.nanorc"
include "~/.nano/js.nanorc"
include "~/.nano/makefile.nanorc"
include "~/.nano/man.nanorc"
#include "~/.nano/nanorc.nanorc"
include "~/.nano/nanorc.alt.nanorc"
include "~/.nano/patch.nanorc"
include "~/.nano/perl.nanorc"
include "~/.nano/pov.nanorc"
include "~/.nano/python.nanorc"
include "~/.nano/ruby.nanorc"
#include "~/.nano/sh.nanorc" 
include "~/.nano/sh.alt.nanorc"
include "~/.nano/tex.nanorc"
#include "~/.nano/asm.nanorc"
#include "~/.nano/groff.nanorc"
#include "~/.nano/mutt.nanorc"
#include "~/.nano/moinmoin.nanorc"
