$include /etc/inputrc
"\C-p":history-search-backward
"\C-n":history-search-forward

# Color and mark completion list
set colored-stats On
set mark-symlinked-directories On
set colored-completion-prefix On
set menu-complete-display-prefix On
set visible-stats On

# Ignore case for completion
set completion-ignore-case On
set completion-map-case On
#set completion-prefix-display-length 10 # incompatible with colored-completion-prefix
#set show-all-if-ambiguous On
#set show-all-if-unmodified On
set completion-query-items 80
set skip-completed-text On

set blink-matching-paren On
#set mark-modified-lines On  # Incompatible with move_cursor_to_start in PS0

set enable-bracketed-paste On

set revert-all-at-newline on

# Esc z Cycle through completion list (run twice to start)
"\e[Z": menu-complete

# ?
#Control-c: "\C-creset\r\C-l"

$if Bash
	# Complete word from history
	"\e\C-o": dabbrev-expand

	# Append " > output.txt" at end of line
	Control-o: "\C-e > output.txt"

	# Alt-Ctl-a: expand alias
	"\e\C-a": alias-expand-line

	# Add sudo at begin of line
	"\es":"\C-asudo \C-e"

	# Wrap line in $()
	# Macht immer wieder Probleme…
	Control-v: '\C-a$(\C-e)\C-a'
$endif

# Dump all readline settings/functions an their values
"\e\C-f": dump-functions
"\e\C-x": dump-variables
"\e\C-m": dump-macros

$include ~/.inputrc.local
